%div(class="chat-area")
  %div(class="chat-area__group")
    %div(class="chat-area__group__top")
      %p(class="chat-area__group__top__name") グループ名
      = link_to "Edit", "/", class: "chat-area__group__top__edit-btn"
    %p(class="chat-area__group__member-name") Member：メンバー名

  %div(class="chat-area__post")
    %div(class="chat-area__post__message")
      %div(class="chat-area__post__message__contributor")
        %p(class="chat-area__post__message__contributor__name") 投稿者名
        %p(class="chat-area__post__message__contributor__date") 投稿日時
      %p(class="chat-area__post__message__text") 投稿内容

  %div(class="chat-footer")
    = form_for [@group, @message] do |f|
      %div(class="chat-footer__box")
        %div(class="chat-footer__box__form")
          = f.text_field :content, class: "chat-footer__box__form__text", placeholder: 'type a message'
          = f.label :image, class: "chat-footer__box__form__icon" do
            = fa_icon "picture-o", class: "fa fa-picture-o"
            = f.file_field :image, class: "chat-footer__box__form__icon__btn"
        = f.submit "Send", class: "chat-footer__box__send-btn"

