%div(class="leftbar")
  %div(class="leftbar__user")
    %p(class="leftbar__user__name")
      =current_user.name
    %div(class="leftbar__user__link")
      = link_to "", new_group_path, class: "fa fa-edit"
      = link_to "", edit_user_path(current_user.id), class: "fa fa-cog"

  %div(class="leftbar__group")
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class: "leftbar__group__link" do
        %div(class="leftbar__group__link__content")
          %div(class="leftbar__group__link__content__name")
            = group.name
          %div(class="leftbar__group__link__content__comment")
            = group.show_last_message