%div(class="chat")
  = render partial: "leftbar"
  %div(class="chat-area")
    %div(class="chat-area__group")
      %div(class="chat-area__group__top")
        %div(class="chat-area__group__top__name")
          = @group.name
        = link_to "Edit", "/", class: "chat-area__group__top__edit-btn"
      %div(class="aa")
        %div(class="chat-area__group__member-name") Member：
        %div
          - @group.users.each do |user|
            = user.name

    %div(class="chat-area__post")
      = render partial: 'message', collection: @messages

    %div(class="chat-footer")
      = form_for [@group, @message] do |f|
        %div(class="chat-footer__box")
          %div(class="chat-footer__box__form")
            = f.text_field :content, class: "chat-footer__box__form__text", placeholder: 'type a message'
            = f.label :image, class: "chat-footer__box__form__icon" do
              = fa_icon "picture-o", class: "fa fa-picture-o"
              = f.file_field :image, class: "chat-footer__box__form__icon__btn"
          = f.submit "Send", class: "chat-footer__box__send-btn"

